*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(230,230,230);
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1000px; /*ancho máximo de la página*/
    margin: 20px auto; /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    gap: 20px; /*nos ahorramos tenes que poner márgenes entre los elementos*/

    /*3 columnas: contenido (con 2 widgets) + sidebar*/
    grid-template-columns: repeat(3,1fr);

    /*4 filas: header, contenido, widgets, footer*/
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "encabezado encabezado encabezado"
                         "sidebar contenido contenido "
                         "sidebar widget-1 widget-2 "
                         "pie pie pie";
}

.contenedor > div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .pie {
    padding: 20px;
    border-radius: 4px;
}

.contenedor .encabezado{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7O_WiMWF6x5PrnO2TVz-k2hG6-AfNv5-shA&usqp=CAU");
    font-style:initial;
    color: #fff;
    grid-area: encabezado; 
}

.contenedor .contenido{
    background: #fff;
    grid-area: contenido; 
}

.contenedor .sidebar{
    background: slategray;
    /*utilizamos flexbox para alinear el contenido*/
    color:thistle;
    
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sidebar; 
}

.contenedor .widget-1,
.contenedor .widget-2{
    background:lightslategrey ;
    color:blue;
    height: 200px;
    /*utilizamos flexbox para alinear el contenido*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1{
    grid-area: widget-1; 
}

.contenedor .widget-2{
    grid-area: widget-2; 
}

.contenedor .pie{
     background:slategray ;
   color: #fff;
  grid-area: pie; 
}

@media screen and (max-width: 768px){
    .contenedor{
        grid-template-areas: "encabezado encabezado encabezado"
                             "contenido contenido contenido"
                             "sidebar sidebar sidebar"
                             "widget-1 widget-1 widget-2"
                             "pie pie pie";
    }
}

@media screen and (max-width: 450px){
    .contenedor{
        grid-template-areas: "encabezado encabezado encabezado"
                             "contenido contenido contenido"
                             "widget-1 widget-1 widget-1"
                             "widget-2 widget-2 widget-2"
                             "sidebar sidebar sidebar"
                             "pie pie pie";
    }
}

.subraya {
    text-decoration: underline;
    text-decoration-color: red; /* Cambia el color del subrayado */
    text-decoration-thickness: 2px; /* Cambia el grosor del subrayado */
  }
  
  
  
  
  
  
  