/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos específicos para secciones individuales (personaliza según sea necesario) */
#pagina1 {
    background-color: #f9caca;
}

#pagina2 {
    background-color: #b3e0ff;
}

#pagina3 {
    background-color: #c4ffb3;
}

#pagina4 {
    background-color: #ffc7b3;
}

#contacto {
    background-color: #f0f0f0;
}

#iframe {
    background-color: #fff;
}

#iconos {
    background-color: #fff;
}

#fuentes {
    background-color: #fff;
}

#responsive {
    background-color: #fff;
}

#animacion {
    background-color: #fff;
}

#maquetacion {
    background-color: #fff;
}

#api {
    background-color: #fff;
}

#css {
    background-color: #fff;
}

#git {
    background-color: #fff;
}

#diseno {
    background-color: #fff;
}

#documentacion {
    background-color: #fff;
}

/* Estilos para el formulario de contacto (personaliza según sea necesario) */
#formulario-contacto {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}
